<div id="<%= dom_id bookmark %>">
  <p>
    <strong>Title:</strong>
    <%= bookmark.movie %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= bookmark.list %>
  </p>

  <p>
    <strong>Poster url:</strong>
    <%= bookmark.poster_url %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= bookmark.comment %>
  </p>

</div>
